.form-container {
  text-align: center;
}
.title-input {
  height: 40px;
  width: 300px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.priority {
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  background-color: #169c54;
  color: #ffffff;
}
.date {
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  background-color: #80a3ed;
  border: none;
}
.submit-button {
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  background-color: #ed9d07;
  border: none;
}
