* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  align-items: center;
  background-image: linear-gradient(#f5b0ba, #e5b7f7);
}
.heading {
  font-family: ' Impact, Haettenschweiler, ' Arial Narrow Bold ', sans-serif';
  font-weight: bold;
  font-size: 40px;
}
